<nav class="navbar navbar-expand-lg navbar-dark nav-thing">
  <h2 class="intro-bg">ping you</h2>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <button type="button" class="btn btn-outline-warning"><a href="/login">Login</a></button>
      </li>
      <li class="nav-item active">
        <button class="btn btn-outline-warning"><a href="/signup">Signup</a></button>
      </li>
    </ul>
  </div>
</nav>


<div class="container" style="padding-top:20vh">
  <div class="row">
    <div class="col-md-4 col-xs-12">&nbsp;</div>
    <div class="col-md-4 col-xs-12 form-style">
      <form #resetPassword="ngForm" (ngSubmit)="resetPasswordFunc()">
        <div class="form-group">
          <label for="inputPassword">New Password</label>
          <input type="password" class="form-control" id="inputPassword" name="password" [(ngModel)]="password"
            required>
        </div>
        <div class="form-group">
          <label for="inputPassword">Confirm Password</label>
          <input type="password" class="form-control" id="conformPassword" name="conformPassword" [(ngModel)]="conformPassword"
            required>
        </div>
        <div class="form-row">
          <div class="col-md-12 text-center">
            <button type="submit" class="btn btn-outline-warning" [disabled]="!resetPassword.form.valid">Submit</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>



<footer class="mastfoot mt-auto fixed-bottom">
  <div class="inner">
    <p class="text-center"><a href="#">COPYRIGHT © 2018 PING-YOU</a>.</p>
  </div>
</footer>